@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: white;
}

header{
    background: slateblue;
    padding: 30px;
    border-bottom: 2px solid #000080;
}

header div {
    text-align: center;
}

header div a {
    font-family: 'Roboto';
    text-decoration: none;
    color:white;
    margin: 0px 30px;
    font-size: 18px;
    line-height: 28px;
}

header div a:hover{
    color: #000080;
    transition: color 20s;
}

#challenge2 {
    font-family: 'Roboto';
    text-align: center;
    padding: 32px;
}

#challenge2 img {
    width: 200px;
    height: 200px;  
    border-radius: 50%;
    border: 2px solid #000080;
}

#challenge2 img:hover{
   border: 4px solid black;
   transition: border 500ms;
}

#challenge2 h1 {
    font-size: 40px;
    line-height: 50px; 
    color: slateblue;
}

#challenge2 h1:hover {
    color: rgb(41, 27, 133);
    transition: color 500ms;
}

#challenge2 h2 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 8px;
    color: rgb(44, 42, 42);
    opacity: 0.8;
}

#challenge2 h2:hover {
    color: black;
    transition: color 200ms;
}

#technologys {
    font-family: 'Roboto';
    text-align: center;
    padding: 30px;
}

#technologys h1 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 8px;
    color: slateblue;
}

#technologys ul li {
    text-align: left;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 28px;
    color: #000080;
}

#technologys ul li:hover {
    color: #50fa7b;
    transition: color 100ms;
}

footer {
    background: slateblue;
    padding: 15px;
    text-align: center;
    margin-top: 75px;
    border-top: 2px solid #000080;
    
}

#footer a {
    font-family: 'Roboto';
    color: whitesmoke;
    font-size: 18px;
    line-height: 28px;
    margin: 0px 20px;
    text-decoration: none;
}

#footer a:hover {
    color: #000080;
    transition: color 500ms ;
}